<section class="page" style="background-color: #212529; border-radius: 0">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5">
            <h3 class="mb-5 text-center">Sign Up</h3>
            <form
              #registrationForm="ngForm"
              (ngSubmit)="register(registrationForm)"
              autocomplete="off"
            >
              <div class="form-outline mb-4">
                <label for="" class="text-start">First Name</label>
                <input
                  type="text"
                  id="fname"
                  name="fname"
                  [(ngModel)]="this.user.firstName"
                  class="form-control form-control-lg"
                  placeholder="First Name"
                  required
                />
              </div>
              <div class="form-outline mb-4">
                <label for="" class="text-start">Last Name</label>
                <input
                  type="text"
                  id="lname"
                  name="lname"
                  [(ngModel)]="this.user.lastName"
                  class="form-control form-control-lg"
                  placeholder="Last Name"
                  required
                />
              </div>

              <div class="form-outline mb-4">
                <label for="" class="text-start">Gender</label>
                <select
                  class="form-select"
                  name="gender"
                  id="gender"
                  [(ngModel)]="this.user.gender"
                >
                  <option value="" disabled selected>Select gender</option>
                  <option value="MALE">Male</option>
                  <option value="FEMALE">Female</option>
                  <option value="OTHER">Other</option>
                </select>
              </div>

              <div class="form-outline mb-4">
                <label for="" class="text-start">Email</label>

                <input
                  type="email"
                  id="username"
                  name="username"
                  ngModel
                  [email]="true"
                  [(ngModel)]="this.user.emailId"
                  #usernameInput="ngModel"
                  autocomplete="off"
                  class="form-control form-control-lg"
                  placeholder="User Name(Email)"
                  required
                />
                <div
                  *ngIf="
                    usernameInput.invalid &&
                    (usernameInput.dirty || usernameInput.touched)
                  "
                  class="text-danger text-start"
                >
                  <div *ngIf="usernameInput.errors['required']">
                    Email is required.
                  </div>
                  <div *ngIf="usernameInput.hasError('email')">
                    Invalid email format.
                  </div>
                </div>
              </div>

              <div class="form-outline mb-4">
                <label for="" class="text-start">Date of Birth</label>
                <input
                  type="date"
                  id="date"
                  name="date"
                  [(ngModel)]="this.user.dateOfBirth"
                  (ngModelChange)="validateAge($event)"
                  class="form-control form-control-lg"
                  placeholder="date"
                  required
                />
                <div class="text-danger text-start" *ngIf="!isAgeValid">
                  Age must be greater than 18
                </div>
              </div>

              <div class="form-outline mb-4">
                <label for="" class="text-start">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  [(ngModel)]="this.user.password"
                  autocomplete="off"
                  class="form-control form-control-lg"
                  autocomplete="off"
                  placeholder="Password"
                  required
                />
              </div>
              <div class="form-outline mb-4">
                <label for="" class="text-start">Phone</label>
                <input
                  type="text"
                  id="phone"
                  name="phone"
                  [(ngModel)]="this.user.mobileNo"
                  class="form-control form-control-lg"
                  placeholder="Phone"
                  required
                />
              </div>

              <!-- <div class="form-check d-flex justify-content-start mb-4">
                <input
                  class="form-check-input"
                  style="border: 1px solid black;"
                  type="checkbox"
                  value=""
                  id="checkbox"
                />
                <label class="form-check-label" for="checkbox">
                  &nbsp; Remember password
                </label>
              </div> -->

              <button
                class="btn btn-lg btn-block btn-primary form-control form-control-lg"
                type="submit"
                [disabled]="!registrationForm.valid"
              >
                Register
              </button>
            </form>

            <hr class="my-4" />

            <button
              class="btn btn-lg btn-block btn-primary form-control form-control-lg"
              style="background-color: #3b5998"
              type="submit"
              routerLink="/login"
            >
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
