<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" id="navbarMain">
    <a class="navbar-brand" routerLink="" id="hover1"
      ><img
        src="../../assets/Images/grocery_logo.svg"
        alt="Grocery"
        width="90"
        height="90"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <div class="navbar-nav">
        <a
          class="nav-link active"
          aria-current="page"
          routerLink="about"
          routerLinkActive="active"
          id="hover2"
          >About</a
        >
        <a
          class="nav-link"
          routerLink="contact"
          routerLinkActive="active"
          id="hover3"
          >Contact</a
        >
        <a
          class="nav-link"
          routerLink="products"
          routerLinkActive="active"
          id="hover4"
          >Products</a
        >
        <a
          class="nav-link"
          routerLink="cart"
          routerLinkActive="active"
          id="hover5"
          >Cart</a
        >
        <a
          class="nav-link"
          *ngIf="this.loginServ.isAdmin()"
          routerLink="products/edit"
          routerLinkActive="active"
          id="hover5"
          >Edit Products</a
        >
        <a
          class="nav-link"
          *ngIf="this.loginServ.isAdmin()"
          routerLink="categories/edit"
          routerLinkActive="active"
          id="hover5"
          >Edit Categories</a
        >
        <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
      </div>
      <div class="ml-auto" *ngIf="!this.loginServ.isUserAuthenticated()">
        <a class="btn btn-outline-primary" routerLink="login">
          <span>Login/Register</span>
          <i class="fa fa-user"></i>
        </a>
      </div>
      <div class="ml-auto" *ngIf="this.loginServ.isUserAuthenticated()">
        <a class="btn btn-outline-danger" (click)="this.loginServ.logout()">
          <span>Logout</span>
          <i class="fa fa-user"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
<form class="d-flex p-4 pt-1" role="search">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Search for products"
    aria-label="Search"
  />
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
