<nav class="navbar bg-dark navbar-expand-lg">
  <div class="container-fluid" id="navbarMain">
    <a class="navbar-brand" routerLink="" id="hover1"
      ><img
        src="../../assets/Images/pngwing.com.png"
        alt="Grocery"
        width="50"
        height="50"
    /></a>
    <button
      class="navbar-toggler bg-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-dark" id="navbarContent">
      <div class="navbar-nav fs-5 text">
        <a
        class="nav-link text-white"
        routerLink="products"
        routerLinkActive="active fw-bold"
        id="hover4"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="refreshProductList()"
        >Products</a
      >
     
      <a
        class="nav-link text-white"
        routerLink="cart"
        routerLinkActive="active fw-bold"
        id="hover5"
        >Cart</a
      >
      <a
      class="nav-link text-white"
      routerLink="contact"
      routerLinkActive="active fw-bold"
      id="hover3"
      >Contact</a
    >
        <a
          class="nav-link text-white"
          aria-current="page"
          routerLink="about"
          routerLinkActive="active fw-bold"
          id="hover2"
          >About</a
        >
       
       
        <a
        class="nav-link text-white"
        *ngIf="this.loginServ.isAdmin()"
        routerLink="products/edit"
        routerLinkActive="active fw-bold"
        id="hover5"
        [routerLinkActiveOptions]="{ exact: true }"
        >Edit Products</a
      >
      <a
        class="nav-link text-white"
        *ngIf="this.loginServ.isAdmin()"
        routerLink="categories/edit"
        routerLinkActive="active fw-bold"
        id="hover5"
        
        >Edit Categories</a
      >
        <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
      </div>
      <div class="ml-auto" *ngIf="!this.loginServ.isUserAuthenticated()">
        <a class="btn btn-outline-primary" routerLink="login">
          <span>Login/Register</span>
          <i class="fa fa-user"></i>
        </a>
      </div>
      <div class="ml-auto" *ngIf="this.loginServ.isUserAuthenticated()">
        <a class="btn btn-outline-danger" (click)="logOut()">
          <span>Logout</span>
          <i class="fa fa-user"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- <form class="d-flex p-4 pt-1" role="search">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Search for products"
    aria-label="Search"
  />
  <button class="btn btn-outline-success" type="submit">Search</button>
</form> -->
