#navbarMain .btn {
  display: flex;
  flex-direction: row;
  gap: 8px !important;
  align-items: center;
  align-content: center;
  justify-items: center;
  max-width: fit-content;
}

.navbar-nav {
  margin-bottom: 20px;
}

#navbarContent {
  background-color: white;
  margin-left: 20px;
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  #navbarContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin-left: 0;
    padding-bottom: 0;
  }

  #navbarMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    justify-items: center;
  }

  .navbar-nav {
    margin-bottom: 0px;
  }
}
