<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Grocery Shopping</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="about" routerLinkActive="active">About</a>
          <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
          <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
          <a class="nav-link" routerLink="details" routerLinkActive="active">Details</a>
          <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
      <div class="ml-auto">
        <!-- <a routerLink="login"> -->
          <button class="btn btn-primary" (click)="onclick()">Login/Register</button>
        <!-- </a> -->
    </div>
    </div>
  </nav>