<form #form1="ngForm" autocomplete="off" (submit)="onSubmit1()">
  <div class="searchbar-wrapper">
    <div class="searchbar">
      <div class="form-outline">
        <input
          name="Name"
          type="search"
          placeholder="Product Name"
          id="productName"
          [(ngModel)]="this.srchServ.data"
          class="form-control"
          style="border-top-right-radius: 0; border-bottom-right-radius: 0"
        />
      </div>
      <div class="form-outline">
        <input
          name="Price"
          placeholder="Max Price"
          [(ngModel)]="this.srchServ.price"
          type="search"
          id="price"
          class="form-control"
          style="border-radius: 0"
        />
      </div>
      <button
        type="button"
        class="btn btn-dark"
        type="submit"
        [disabled]="form1.invalid"
        style="border-top-left-radius: 0; border-bottom-left-radius: 0"
      >
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</form>
