<div *ngIf="product != null">
  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="card h-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ product.productName }}</h5>
        <p>{{ product.discontinued ? "Discontinued" : null }}</p>
        <p class="card-text">{{ product.productDescription }}</p>
        <div *ngIf="isProductInCart(); then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
          <button class="btn btn-danger mt-auto" (click)="removeFromCart()">
            Remove from Cart
          </button>
        </ng-template>
        <ng-template #elseBlock>
          <button class="btn btn-primary mt-auto" (click)="addToCart()">
            Add to Cart
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
