<br>
<div class="main">
  <div class="row">
    <!-- <h4>Category List :</h4> -->
    <div class="column1">
      <br />
      <table class="table table-borderless">
        <thead>
          <tr>
            <!-- <th scope="col">ID</th>
            <th scope="col">Category Name</th> -->
          </tr>
        </thead>
        <tbody *ngFor="let c of serv.pCategory">
          <tr>
            <!-- <th scope="row">1</th> -->
            <!-- <td>{{ c.id }}</td> -->
            <td class="sidebar" (click)="refreshProductCategoryList(c.id)" routerLink="products">{{ c.categoryName }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column2">
      <img src="../../assets/grocery store.jpg" alt="" id="image" />
    </div>
  </div>
</div>

