<section style="background-color: #3c486b; height: 670px; border-radius: 10px">
  <h4>Category List :</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Category Name</th>
      </tr>
    </thead>
    <tbody *ngFor="let c of serv.CList">
      <tr *ngIf="!c.discontinued">
        <!-- <th scope="row">1</th> -->
        <td>{{c.id}}</td>
        <td>{{c.categoryName}}</td>
      </tr>
    </tbody>
  </table>
</section>
