/* You can add global styles to this file, and also import other style files */

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.logout:hover {
  cursor: pointer;
}

ul li {
  text-decoration: none;
  list-style: none;
  font-size: 25px;
}

.page {
  background-color: white;
  height: 100%;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.footer {
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  color: white;
}

:root {
  background-color: #212529;
  color-scheme: dark;
}
