<!-- <section class="page">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <h2 class="about-heading">About Us</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          tristique, tellus eget sodales venenatis, neque justo viverra purus,
          at dignissim nunc tellus id nulla. Sed auctor luctus lectus, vel
          volutpat erat pharetra nec. Vivamus suscipit vitae urna in tristique.
          Nulla facilisi. Integer tincidunt facilisis elit, sed consequat erat
          fermentum at. Aenean vitae tincidunt ante. Nullam tincidunt justo at
          eros facilisis, nec fringilla justo blandit. Donec posuere nisl a arcu
          tristique, ac vestibulum risus cursus. Ut bibendum dui eu neque
          aliquet, ut tincidunt augue faucibus. Vestibulum at massa eu libero
          finibus cursus eget vel elit. Integer id felis vitae metus tristique
          venenatis.aliquet, ut tincidunt augue faucibus. Vestibulum at massa eu
          libero finibus cursus eget vel elit. Integer id felis vitae metus
          tristique venenatis.aliquet, ut tincidunt augue faucibus. Vestibulum
          at massa eu libero finibus cursus eget vel elit. Integer id felis
          vitae metus tristique venenatis.
        </p>
        <p></p>
      </div>
      <div class="col-md-6">
        <div class="image-container">
          <img
            src="assets/Images/about.jpg"
            alt="About Us"
            class="img-fluid rounded"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="main-card-container col-md-11">
    <br>
    <h2 class="text-center">TEAM MEMBERS</h2>
    <div class="card-container">
      <div class="card" style="width: 18rem">
        <img
          src="../../assets/Images/Abhiram Rajeevan.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Abhiram Rajeevan</h5>
        </div>
      </div>
  
      <div class="card" style="width: 18rem">
        <img
          src="../../assets/Images/Akshay Anithan.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Akshay Anithan</h5>
        </div>
      </div>
  
      <div class="card" style="width: 18rem">
        <img
          src="../../assets/Images/Amal Krishna.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Amal Krishna</h5>
        </div>
      </div>
    </div>
  
    <div class="card-container">
      <div class="card" style="width: 18rem">
        <img
          src="../../assets/Images/Fazil M.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Fazil M</h5>
        </div>
      </div>
  
      <div class="card" style="width: 18rem">
        <img
          src="../../assets/Images/Mohammed Aslam.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Muhammed Aslam</h5>
        </div>
      </div>
  
      <div class="card" style="width: 18rem">
        <img
          src="../../assets/Images/Sinadin Shibin.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Sinadin Shibin</h5>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="container-fluid">
      <p class="text-center">&copy; 2023 Your Company. All Rights Reserved.</p>
    </div>
  </footer>
</section> -->

<header class="py-5">
  <div class="container px-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xxl-6">
        <div class="text-center my-5">
          <h1 class="fw-bolder mb-3">Our mission is Simple!</h1>
          <p class="lead fw-normal text-muted mb-4">
            To deliver the freshest and most diverse selection of groceries
            right to your doorstep. We believe that access to high-quality,
            nutritious, and flavorful food should be effortless, so you can
            focus on what truly matters in life.
          </p>
          <a class="btn btn-primary btn-lg" href="/about#target">
            Read our story
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="py-5 bg-light" id="target">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <img
          class="img-fluid rounded mb-5 mb-lg-0 test"
          src="../../assets/Images/grocery1.jpg"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <h2 class="fw-bolder">Quality and Freshness</h2>
        <p class="lead fw-normal text-muted mb-0">
          We take great pride in sourcing our products from trusted suppliers
          and local farmers who share our commitment to quality and freshness.
          From crisp, locally grown produce to pantry staples, every item in our
          inventory is handpicked to meet our stringent standards. We believe in
          food that is not only good for you but also good for the planet.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- About section two-->
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-first order-lg-last">
        <img
          class="img-fluid rounded mb-5 mb-lg-0 test"
          src="../../assets/Images/grocery 2.jpg"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <h2 class="fw-bolder">Growth &amp; beyond</h2>
        <p class="lead fw-normal text-muted mb-0">
          Shopping with us means more than just filling your cart; it means
          reclaiming your time. Our user-friendly website and mobile app are
          designed to streamline your shopping experience, allowing you to order
          from the comfort of your home or while on the go. We offer flexible
          delivery options and convenient pickup services to fit your schedule.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Team members section-->
<section class="py-5 bg-light">
  <div class="container px-5 my-5">
    <div class="text-center">
      <h2 class="fw-bolder">Our team</h2>
      <p class="lead fw-normal text-muted mb-5">
        Dedicated to quality and your success
      </p>
    </div>
    <div
      class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center"
    >
      <div class="col mb-5 mb-5 mb-xl-0">
        <div class="text-center">
          <img
            class="img-fluid rounded-circle mb-4 px-4"
            src="../../assets/Images/Sinadin Shibin.jpeg"
            alt="..."
          />
          <h5 class="fw-bolder">Sinadin Shibin</h5>
          <!-- <div class="fst-italic text-muted">Founder &amp; CEO</div> -->
        </div>
      </div>
      <div class="col mb-5 mb-5 mb-xl-0">
        <div class="text-center">
          <img
            class="img-fluid rounded-circle mb-4 px-4"
            src="../../assets/Images/Mohammed Aslam.jpeg"
            alt="..."
          />
          <h5 class="fw-bolder">Muhammed Aslam</h5>
          <!-- <div class="fst-italic text-muted">CFO</div> -->
        </div>
      </div>
      <div class="col mb-5 mb-5 mb-sm-0">
        <div class="text-center">
          <img
            class="img-fluid rounded-circle mb-4 px-4"
            src="../../assets/Images/Abhiram Rajeevan.jpeg"
            alt="..."
          />
          <h5 class="fw-bolder">Abhiram Rajeevan</h5>
          <!-- <div class="fst-italic text-muted">Operations Manager</div> -->
        </div>
      </div>
      <div class="col mb-5">
        <div class="text-center">
          <img
            class="img-fluid rounded-circle mb-4 px-4"
            src="../../assets/Images/Akshay Anithan.jpeg"
            alt="..."
          />
          <h5 class="fw-bolder">Akshay Anithan</h5>
          <!-- <div class="fst-italic text-muted">CTO</div> -->
        </div>
      </div>
      <div class="col mb-5">
        <div class="text-center">
          <img
            class="img-fluid rounded-circle mb-4 px-4"
            src="../../assets/Images/Fazil M.jpeg"
            alt="..."
          />
          <h5 class="fw-bolder">Fazil M</h5>
          <!-- <div class="fst-italic text-muted">CTO</div> -->
        </div>
      </div>
      <div class="col mb-5">
        <div class="text-center">
          <img
            class="img-fluid rounded-circle mb-4 px-4"
            src="../../assets/Images/Amal Krishna.jpeg"
            alt="..."
          />
          <h5 class="fw-bolder">Amal Krishna</h5>
          <!-- <div class="fst-italic text-muted">CTO</div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <footer class="bg-dark py-4 mt-auto">
  <div class="container px-5">
    <div
      class="row align-items-center justify-content-between flex-column flex-sm-row"
    >
      <div class="col-auto">
        <div class="small m-0 text-white">
          Copyright &copy; Your Website 2023
        </div>
      </div>
      <div class="col-auto">
        <a class="link-light small" href="#">Privacy</a>
        <span class="text-white mx-1">&middot;</span>
        <a class="link-light small" href="#">Terms</a>
        <span class="text-white mx-1">&middot;</span>
        <a class="link-light small" href="#">Contact</a>
      </div>
    </div>
  </div>
</footer> -->
