/* Custom CSS for the sidebar */
.sidbar {
  display: none;
}

#sidebar-all-button {
  display: none;
}

.sidebar-link {
  display: none;
}

#sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100%;
}

#category-dropdown {
  margin-bottom: 30px;
  z-index: 10;
}

#category-dropdown > .dropdown-toggle {
  border: 1px solid black;
}

.dropdown-item {
  cursor: pointer;
}

@media (min-width: 992px) {
  #category-dropdown {
    display: none;
  }

  #sidebar-all-button {
    display: block;
  }

  .sidebar {
    background-color: #86962b; /* Background color */
    color: #fff; /* Text color */
    padding: 10px;
    height: fit-content;
    border-radius: 10px;
    min-width: 200px;
    position: sticky;
    top: 10px;
  }

  /* Style for sidebar links */
  .sidebar-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s; /* Smooth color transition on hover */
    display: block;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
  }
}

/* Hover effect for sidebar links */
.sidebar-link:hover {
  color: #ffc107; /* Hover color (yellow) */

  cursor: pointer;
}

/* Style for sidebar icons */
.sidebar-link i {
  margin-right: 5px;
}

.clicked {
  color: black;
  border-radius: 8px;
  background-color: white;
}
.clicked:hover {
  color: red;
  border-radius: 8px;
  background-color: white;
}

#category-dropdown .clicked {
  color: white;
  background-color: #86962b;
  border-radius: 0;
}
