/* Custom CSS for the sidebar */
.sidbar {
  display: none;
}

#sidebar-all-button {
  display: none;
}

.sidebar-link {
  display: none;
}

@media (min-width: 992px) {
  #sidebar-all-button {
    display: block;
  }

  .sidebar {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 10px;
    height: fit-content;
    border-radius: 10px;
    position: sticky;
    top: 10px;
  }

  /* Style for sidebar links */
  .sidebar-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s; /* Smooth color transition on hover */
    display: block;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
  }
}

/* Hover effect for sidebar links */
.sidebar-link:hover {
  color: #ffc107; /* Hover color (yellow) */

  cursor: pointer;
}

/* Style for sidebar icons */
.sidebar-link i {
  margin-right: 5px;
}

.clicked {
  color: black;
  border-radius: 8px;
  background-color: white;
}
.clicked:hover {
  color: red;
  border-radius: 8px;
  background-color: white;
}
