<div id="sidebar-wrapper" style="position: sticky;
top: 50px">
  <div class="sidebar" id="category-sidebar">
    <!-- Sidebar content goes here -->
    <ul class="list-unstyled">
      <li
        class="sidebar-link"
        id="sidebar-all-button"
        (click)="refreshProductList()"
        [class.clicked]="pD.clickedId === undefined"
      >
        All
      </li>
      <li
        class="sidebar-link"
        *ngFor="let side of pD.pCategory"
        (click)="refreshProductListByCategory(side.id)"
        [class.clicked]="pD.clickedId == side.id"
      >
        {{ side.categoryName }}
      </li>
    </ul>
  </div>
  <div class="dropdown" id="category-dropdown">
    <button
      class="btn btn-white dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Category
    </button>
    <ul class="dropdown-menu">
      <li>
        <a
          class="dropdown-item"
          (click)="refreshProductList()"
          [class.clicked]="pD.clickedId === undefined"
          >All</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          *ngFor="let side of pD.pCategory"
          (click)="refreshProductListByCategory(side.id)"
          [class.clicked]="pD.clickedId == side.id"
        >
          {{ side.categoryName }}</a
        >
      </li>
    </ul>
  </div>
</div>
