/* Custom CSS for the sidebar */
.sidebar {
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  /* width: 250px; */
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
  position: sticky;
  top: 10px;
}

/* Style for sidebar links */
.sidebar-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s; /* Smooth color transition on hover */
  display: block;
  padding: 10px 0;
  padding: 5%;
}

/* Hover effect for sidebar links */
.sidebar-link:hover {
  color: #ffc107; /* Hover color (yellow) */

  cursor: pointer;
}

/* Style for sidebar icons */
.sidebar-link i {
  margin-right: 5px;
}

.clicked {
  color: black;
  border-radius: 8px;
  background-color: white;
}
.clicked:hover {
  color: red;
  border-radius: 8px;
  background-color: white;
}
