
/* .container {
    flex-direction: column;
    margin-top: 150px;
    background-color: #025464;
    border-radius: 10px;
    max-width: 500px;
    height: 350px;
    padding: 10px;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
} */

.success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #508bfc;
    height: 660px;
    font-family: 'Courier New', Courier, monospace;
    
}

.logout{
    border-radius: 10px;
    background-color: #E57C23;
}