<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
      <!-- <th>Discontinued</th>
      <th>Category</th> -->
    </tr>
  </thead>
  <tbody  *ngFor="let p of serv.PList">
    <tr *ngIf="!p.discontinued">
        <td>{{ p.id }}</td>
        <td>{{ p.productName }}</td>
        <td>{{ p.productDescription }}</td>
        <td>{{ p.unitPrice }}</td>
        <td>{{ p.unitsInStock }}</td>
      <!-- <td>{{ p.Discontinued }}</td>
      <td>{{ p.Category }}</td> -->
    </tr>
  </tbody>
</table>
