.productGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
  justify-items: center;
}

.productWrapper {
  cursor: pointer;
  max-width: 400px;
}

@media (min-width: 768px) {
  .productGrid {
    grid-template-columns: auto auto;
    justify-items: left;
  }
}

@media (min-width: 992px) {
  .productGrid {
    grid-template-columns: auto auto auto;
    justify-items: left;
  }
}
